@import'./partials/color';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header {

    background-image: url(../images/bkg-hero-header.jpg);
    background-repeat: no-repeat;
    height: 100vh;

    padding-top: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &>div {
        font-family: "Lato", sans-serif;
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 300px;

        div {
            width: 150px;

        }

        nav ul {
            display: flex;
            flex-direction: row;
            gap: 40px;

            font-weight: 600;
            justify-content: center;
            color: $color-white;
            list-style-type: none;

        }
    }

    h1 {
        @include flex;
        font-family: "Poppins", sans-serif;
        margin-top: 13%;
        font-size: 80px;
        margin-bottom: 0px;
        color: $color-white;

        div {
            width: 15px;
            height: 15px;
            background: #FFB81C;
            margin-top: 35px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    p {

        @include flex;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        color: $color-white;
        font-size: 17px;
        padding-left: 30%;
        padding-right: 30%;
        text-align: center;
        margin-bottom: 70px;
        margin-top: 20px;

    }

    div:last-child {

        gap: 50px;

        a {
            font-family: "Lato", sans-serif;
            font-weight: 600;
            width: 15rem;
            height: 4rem;
            text-align: center;
            border: solid 3px;
            color: white;
            text-decoration: none;
            padding-top: 3%;
            gap: 10px;

            &:nth-child(1) {

                border-color: white;
                background-color: #595e63;
            }

            &:nth-child(2) {
                border-color: #FFB81C;
                background-color: #ffb81c;
            }

        }

    }


}

#about {

    div {
        @include flex;
        flex-direction: column;
        font-family: "Lato", sans-serif;
        color: #545454;

        h2 {
            padding-top: 50px;
            font-size: 40px;
            font-weight: 800;
        }

        p {
            padding-top: 50px;
            padding-bottom: 70px;
            text-align: center;
            padding-left: 30%;
            padding-right: 30%;
            color: lighten($color: #545454, $amount: 30);
        }

    }
}

#projects {

    div {
        background: repeating-linear-gradient(-45deg, rgba(204, 204, 204, 0.3), rgba(204, 204, 204, 0.3) 1px, rgba(238, 238, 238, 0.3) 1px, #eeeeee80 5px);
        font-family: "Lato", sans-serif;
        align-items: center;
        flex-direction: column;
        display: flex;

        h2 {
            padding-top: 50px;
            font-size: 40px;
            font-weight: 800;
            color: #545454;
        }

        p {
            padding-top: 50px;
            padding-bottom: 80px;
            padding-left: 30%;
            padding-right: 30%;
            color: lighten($color: #545454, $amount: 30);
        }

    }


    article {
        display: flex;
        flex-direction: row;

        img {
            width: 25%;

        }

    }
}


#Testimonials {
    background-image: url(../images/bkg-testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;


    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Lato", sans-serif;

        h2 {
            padding-top: 50px;
            padding-bottom: 70px;
            color: white;
            font-size: 50px;
        }

        img {
            margin-bottom: 70px;
            border-radius: 90px;
        }

        p {
            font-family: "Lato", sans-serif;
            background-color: #6a4d8a;
            padding: 30px;
            text-align: center;
            margin-left: 30%;
            margin-right: 30%;
            color: white;

        }

        h4 {
            font-family: "Lato", sans-serif;
            font-size: 25px;
            margin-top: 40px;
            margin-bottom: 100px;
            color: white;
        }
    }

}

#services {

    >div {
        font-family: "Lato", sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #545454;
        padding-top: 70px;

        h2 {

            font-size: 35px;
            text-align: center;
        }

        p {
            padding-top: 30px;
            text-align: center;
        }

        svg {
            height: 50px;
        }
    }

    div:last-child {

        display: flex;
        flex-direction: row;
        padding-left: 30px;
        padding-right: 30px;

        >div {
            text-align: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            padding-top: 50px;
            margin-bottom: 100px;
            padding-left: 30px;
            padding-right: 30px;

            &:nth-child(1) {

                svg {
                    fill: #f18b6d;
                }

                h3 {
                    color: #f18b6d;
                }

                p {
                    color: #545454;
                }

            }

            &:nth-child(2) {
                svg {
                    fill: #ffb81c;
                }

                h3 {
                    color: #ffb81c;
                }

                p {
                    color: #545454;
                }
            }

            &:nth-child(3) {
                svg {
                    fill: #6a4d8a;
                }

                h3 {
                    color: #6a4d8a;
                }

                p {
                    color: #545454;
                }
            }

        }

    }

}

#lastnews {
    background-color: #222f36;

    div {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        font-family: "Lato", sans-serif;

        &:nth-child(1) {
            h2 {

                font-size: 50px;

                font-weight: 800;
                color: white;
            }

            p {
                color: #719597;
            }
        }

        &:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 100px;

            a {
                text-decoration: none;
                font-weight: 800;
                font-family: "Lato", sans-serif;
                padding-top: 5px;
                height: 25px;
                width: 150px;
                color: aliceblue;
                background-color: #FFB81C;

            }

        }

        &:nth-child(3) {
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-bottom: 100px;

            article {
                width: 350px;
                background-color: white;
                display: flex;
                align-items: center;
                flex-direction: column;

                img {
                    width: 100%;
                }

                h3 {
                    padding-top: 50px;
                    font-family: "Lato", sans-serif;
                    color: #5e5e5e;
                    font-weight: 800;
                    font-size: 30px;
                    padding-left: 30px;
                    padding-right: 30px;
                }

                p {
                    padding-top: 50px;
                    margin-left: 20px;
                    margin-right: 20px;
                    font-family: "Lato", sans-serif;
                    color: #5e5e5e;
                }

                a {
                    padding-top: 50px;
                    padding-bottom: 100px;
                    text-decoration: none;
                    color: #ffb865;

                    svg {
                        fill: #ffb865;
                        height: 10px;
                    }
                }
            }

        }

    }

}

#stat {
    font-family: "Lato", sans-serif;
    background-image: url(../images/bkg-counter.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 3%;

    color: white;
    text-align: center;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-weight: 800;
                font-size: 1, 7em;
            }

            p {
                font-size: 4em;

                text-transform: uppercase;
                font-weight: 900;
            }

            &:nth-child(2) {
                border-left: 1px solid white;
                border-right: 1px solid white;

                padding: 0 10% 0 10%;
                margin: 0 5% 0 5%;
            }
        }
    }
}

#contact {
    padding: 5% 10%;
    width: 100%;

    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    >div {

        display: flex;
        flex-direction: column;
        align-items: center;

        color: #919191;

        h2 {
            padding-bottom: 60px;
            font-size: 2em;
            font-weight: 900;
            color: #5e5e5e;
        }

        div {
            // information div
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 20px;

            >div {
                // individual contacts
                display: flex;
                flex-direction: row;

                h5 {
                    color: #ffb81c;
                    font-size: smaller;
                    font-weight: 400;

                    border-right: 1px solid #d9d9d9;

                    padding: 0 4% 0 0;
                    margin: 0 2% 0 0;
                }

                p {
                    font-size: 0.8em;
                    line-height: 1.5;
                }

                :nth-child(3) {
                    // contact icon [+ unwanted subject label]
                    display: flex;
                    justify-content: end;
                    gap: 10px;

                }

                img {
                    object-fit: contain;
                    width: 0.9em;
                }
            }

            >form {
                width: 100%;

                display: flex;
                flex-direction: column;
                // background-color: blue;
                gap: 6px;

                >div {
                    // input #d9d9d9
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    font-size: 0.9em;

                    & div {
                        // label and input div
                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        input {
                            border: 1px solid #d9d9d9;
                            border-radius: 2px;
                            padding: 6px;
                        }
                    }
                }

                :nth-last-child(2) {
                    display: flex;
                    flex-direction: column;

                    textarea {
                        border: 1px solid #d9d9d9;
                        border-radius: 2px;
                    }
                }

                :nth-child(3) {
                    // submit div [+unwanted subject]
                    display: flex;
                    justify-content: end;

                    [value] {
                        // submit input
                        background-color: #ffb81c;
                        border: none;
                        border-radius: 4px;
                        padding: 1% 6%;
                        color: white;

                    }
                }
            }
        }
    }
}